Acta de inicio - Semestre Industria -Camilo Farelo.pdf
INTX-CONTRATO CAMILO ENRRIQUE FARELO.pdf
Evaluaci\303\263nPropuesta(asesor interno).pdf
ErazoLuis_2020_Automatizaci\303\263nPythonMPLS.pdf
Tesis.pdf
Tesis.docx
Erazo.pdf
